
{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% block title %}Card Recommender{% endblock %}</title>
  {% include 'base/css.html' %}

      {% block base_head %}{% endblock %}

</head>
<body>
  <main>
    {% include 'base/navbar.html' with brand_name='Card Recommender' %}
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
        {%  include 'base/js.html' %}
    
  </main>
</body>
</html>