{% extends 'base.html' %}
{% load socialaccount %}

{% block content %}
{% if user.is_authenticated %}
    <p>These are your recommendations, {{user.username}} </p>
    {{ view.test_data_passing }}
    
    <ul>
    {% for card in view.test_card %}
    <li>
    <div class="card" style="width: 25rem;">
    <div class="card-body">
    <h5 class="card-title">{{card.card_name}}</h5>
    <p class="card-text">
    Bank : {{card.bank_name}}<br>
    Score : {{card.score}}
    </p>
    <a href= "{{ card.url }}" class="btn btn-primary">View</a>
    </li>
    <br>
    {% endfor %}
    </ul>
    </div>
    </div>
{% else %}
  <p>You are not logged in</p>

{% endif %}
{% endblock %}